
*{box-sizing: border-box;}



@font-face {
    font-family: 'UnifrakturMaguntia-Regular';
    src: url('fonts/UnifrakturMaguntia-Regular.ttf');
}

@font-face {
    font-family: 'DMSerifDisplay-Regular';
    src: url('fonts/DMSerifDisplay-Regular.ttf');
}


@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.ttf');
}



.colorful_back{
    height:100%;
    background: linear-gradient(217deg, rgba(105, 152, 158, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(228, 151, 241, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(230, 184, 218, 0.8), rgba(0,0,255,0) 70.71%);
} 
.white_back {background: white;}
footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    height:50px;
    background-color: #000000; 
    color: white; 
    padding: 20px; 
}

.cont{display: flex;
    align-items: center;
    justify-content: center;
width: 100%;
flex-direction: column;
}

#hello {  font-family: 'UnifrakturMaguntia-Regular', serif; 
    display: flex;
    justify-content: center;
    font-size:10em;
    width: 100vw;
  
  
    color:white;

}
#subtitle { display: flex;
    justify-content: center;
    width:70%;
    font-size:1.5em;
    margin-top: -5%;
 
    flex-direction: column;
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: 'Poppins-Light', sans-serif; 
}

/* posts */


.posts_text em { color: yellow; font-size: 2em; }
